#draggable { padding: 20px;
  background-color: #008CBA80;
  z-index:50; margin: 20px}

.droppable { padding: 5px; margin: 5px}

img {
  width:128px;
  margin: 1px;
}

.overlay {
  position: absolute;
  z-index:100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA00;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.progress {

}

.box{
   box-model: border-box;
   border: 3px solid transparent;
   background-clip:padding-box;
 }

.overlay:hover  {
   /*opacity: .5;*/
   background-color: #008CBA80;
   opacity: 1;
 }
