#draggable { padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  z-index:50; margin: 20px}

.droppable {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 2px;
    margin: 2px;
    transition: ease-in-out 300ms;}

img {
  width:120px;
  margin: 1px;
}

.logo {
  width:200px;
}

.instruction {
  width:100%;
}


.overlay {
  position: absolute;
  z-index:100;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA00;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.jumbotron {
    background-color: white;
}

.progress {

}

.h5, h5 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.box{
   box-model: border-box;
   border: 3px solid transparent;
   background-clip:padding-box;
 }

.overlay:hover  {
   /*opacity: .5;*/
   background-color: rgba(24, 108, 57, 0.5);
   opacity: 1;
 }
