<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
-->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"></link>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}"></link>


    <script>
    var shots = 2
    var ways = 4
    var num_tasks = 1000

    var timestart = Date.now();
    var timeend;
    var progressbarmax = 50

    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

    function uuidv4() {
      return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
        var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8);
        return v.toString(16);
      });
    }
    var uuid = uuidv4()
    var counter = 0

      function allowDrop(ev) {
        ev.preventDefault();
      }

      function drag(ev) {
        ev.dataTransfer.setData("text", ev.target.id);
      }

      function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("text");
        ev.target.appendChild(document.getElementById(data));
      }
      </script>

  </head>
  <body>

    <div class="container">
      <div class="jumbotron">
        <h1>Sen12MS Human Few-Shot Classifier</h1>
        <p>Below are RGB images from different regions on the Earth. </p>
        <h6>Instructions</h6>
        <ul>
        <li>Drag and drop the sample image in the top row</li>
        <li>to the most similar category in the bottom row</li>
        </ul>
        <div class="progress">
          <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
          </div>
        </div>
      </div>




    </div>




<div class="container">

  <div id="queryrow" class="row">
  </div>
  <div id="supportrow" class="row">
  </div>



</div>

  <script>
  function add_sample_box(url){
    var box = document.createElement("div");
    box.id = "draggable"
    box.className = "ui-widget-content mx-auto rounded border"

    var p = document.createElement("p");
    p.innerHTML = "Drag this image"

    var img = document.createElement("img");
    img.src = url

    box.appendChild(p)
    box.appendChild(img)

    var queryrow = document.getElementById("queryrow");
    queryrow.appendChild(box)
  }

  function removeAllChildNodes(parent) {
      while (parent.firstChild) {
          parent.removeChild(parent.firstChild);
      }
  }

  function clear() {
    var supportrow = document.getElementById("supportrow");
    removeAllChildNodes(supportrow)
    var queryrow = document.getElementById("queryrow");
    removeAllChildNodes(queryrow)
  }

  function add_support_box(classid, urls){
    /*
    urls = [
      'http://lorempixel.com/100/100/city',
      'http://lorempixel.com/100/100/city'
    ]
    */

    var box = document.createElement("div");
    box.id = "droppable" + classid
    box.className = "ui-widget-header droppable col-sm rounded border"
    box.classid = classid

    var p = document.createElement("p");
    p.innerHTML = "Category "+classid

    var imdiv = document.createElement("div");
    imdiv.className="overlaycontainer"

    urls.forEach((item, i) => {
      var img = document.createElement("img");
      img.src = item
      imdiv.appendChild(img)
    });


    var overlay = document.createElement("div");
    overlay.className="overlay"

    var text = document.createElement("div");
    text.className="text"
    text.innerHTML = "click or drop"

    overlay.appendChild(text)

    box.appendChild(p)
    box.appendChild(imdiv)
    box.appendChild(overlay)

    var supportrow = document.getElementById("supportrow");
    supportrow.appendChild(box)
  }

  function getRandomInt(max) {
    return Math.floor(Math.random() * Math.floor(max));
  }

  function initboxes() {
    taskid=getRandomInt(num_tasks)

    testclass = getRandomInt(ways)
    testshot = getRandomInt(shots)

    $("#dynamic").attr("aria-valuemax",progressbarmax)

    var static_url = '{{url_for("static", filename="")}}'
    add_sample_box(static_url + "/img/"+taskid+"/test/"+testclass+"-"+testshot+".png")//'{{url_for("static", filename="/img/'+0+'/test/0-0.png")}}'.replace("%2527%252B",""))

    for (let classid=0; classid<ways; classid++) {
      var urls = [];
      for (let shot=0; shot<shots; shot++) {
        var static_url = '{{url_for("static", filename="")}}'
        var url = static_url+"/img/"+taskid+"/train/"+classid+"-"+shot+".png"
        urls.push(url)
      }
      add_support_box(classid, urls)
    }

  }

  function add_dropping_functionality(){

  /* Draggable Functionality */
    function record( event, ui ) {
      $( this )
        .addClass( "ui-state-highlight" )
        .find( "p" )
          .html( "Dropped!" );


      console.log(event)
      if (event.type == "click"){
        console.log()
        // if user clicked on the overlay
        var target = event.target.parentElement

        // if user clicked on the <p> tag
        if (event.target.classList[0] == "text"){
            var target = event.target.parentElement.parentElement
        }
        console.log(target)
      }
      else if (event.type == "drop") {
        var target = event.target
      }

      data = {
        true_class: testclass,
        selected_class: target.classid,
        uuid: uuid,
        taskid: taskid,
        counter: counter,
        duration: (Date.now() - timestart) * 0.001
      }



      timestart = Date.now()

      console.log(data)
      counter += 1

      $("#dynamic")
      .css("width", ((counter % progressbarmax) * 1/progressbarmax) * 100 + "%")
      .attr("aria-valuenow", counter);

      $.post( "/dropevent", {
        data: JSON.stringify(data)
      })

      /*
      if ( event.target.classid == testclass ){
          alert("correct")
        }
      else{
          alert("wrong")
      }
      */

      clear()
      initboxes()
      add_dropping_functionality()

    };

    $( function() {
      $( "#draggable" ).draggable();

      $( "#droppable0" ).droppable({drop: record});
      $( "#droppable1" ).droppable({drop: record});
      $( "#droppable2" ).droppable({drop: record});
      $( "#droppable3" ).droppable({drop: record});

      $( "#droppable0" ).click(record);
      $( "#droppable1" ).click(record);
      $( "#droppable2" ).click(record);
      $( "#droppable3" ).click(record);

    } );
  }

  clear()
  initboxes()
  add_dropping_functionality()

  </script>


  </body>
</html>
